<footer style="height: 100%;">
    <div style="height: 20vh;">
        <div class="quote">
            <h1 class="title" style="font-size: 20px; font-weight: bolder; top: 10px;">Fancy McD-KW Indonesia</h1>
            <p class="slogan">"your daily food coding partner"</p>
            <br>
            <br>
            <p class="slogan">"Jalan Sultan Iskandar Muda No.7, Kebayoran Lama, Kota Jakarta Selatan"</p>
        </div>

        <ul class="socialmedia">
            <li class="socmed"><img src="/image/ig.png" alt=""></li>
        </ul>
    </div>
</footer>
<section class="copyright">
    <p>Aimed for educational project. <strong>&copycopyright by Afifahrahmak & ImmanuelN.Jodi </strong></p>
</section>