<header>
    <nav class="navbar navbar-expand-lg d-flex flex-row" style="height: 10%;">
        <div class="site-branding">
            <div class="logo">
                <img src="/image/logo.png" alt="" style="z-index: 1000; width: 350px;">
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class=" nav-link" href="#" href=" #"> <strong> PACKAGE </strong></a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-pizza-slice"></i>
                    <a class=" nav-link" href="#"> <strong> PASTA </strong></a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link" href="#"> <strong> CHICKEN </strong></a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link" href="#"><strong> RICE </strong></a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-hamburger"></i>
                    <a class=" nav-link" href="#"> <strong> BURGER </strong></a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link" href="#"><strong> MORE... </strong></a>
                </li>
            </ul>
            <div style="padding: 10px; display: flex; flex-direction: row;">
                <a style="margin: 10px;" href="/login">
                    Login
                </a>
                <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i>
            </div>
        </div>
    </nav>
</header>