<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <form action="/order/edit/<%= order.id %>/<%= order.CustomerId %>" method="POST">
        <label for="quantity">
            Quantity : <input type="number" name="quantity" min="1" step="1" value="<%= order.quantity %>"> 
        </label>
        <br>
        <br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>