<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td{
            padding : 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to McdKW</h1>
    <table>
        <tr>
            <td>
                Name :
            </td>
            <td>
                Name
            </td>
        </tr>
        <tr>
            <td>
                Total Price :
            </td>
            <td>
                Total Price
            </td>
        </tr>
        <tr>
            <td>
                Total Item :
            </td>
            <td>
                Total Item
            </td>
        </tr>
        <tr>
            <td>
                Item :
            </td>
            <td>
                <ul>
                    <li>
                        Item 1
                    </li>
                    <li>
                        Item 2
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>