@font-face {
  font-family: title;
  src: url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/ttf/file.ttf") format("ttf");
}


*{
  text-decoration: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* HEADER */

/* INDEX OR HOME */
body {
  overflow: scroll;
}
#home{
  width: 100%;
  height: 170%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}

.logo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(image/backlogo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo-effect{
  z-index: 1;
  font-family: "Amatic SC";
  font-weight: bolder;
}
.title{ font-family: "Amatic SC";
font-weight: bolder;}
.slogan{ font-family:'Covered By Your Grace', cursive;}

.logo h1{ font-size: 40px; padding:20px;}
.logo h2{ font-size: 15px; padding:20 auto; font-family: 'Codystar', cursive;}
.logo p{ font-size: 18px; font-family: 'Covered By Your Grace', cursive;}


nav {
  width: 100%;
  height: 6vh;
  background-color: rgba(255, 166, 0, 0.726);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: "Amatic SC";
  text-decoration: none;
  color: rgb(0, 0, 0);
  
}

nav li a:hover {
}

.tile{
  padding: 300px 0px;
  width: 100%;
  height: 30vh;
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 80px; */
  background-image: url(image/backlogo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tile img {
  width: 35vh;
  height: 40vh;
}
.tile a img:hover{
  filter: grayscale(100%);
}
.tile a{
  padding: 10px;
  font-size: 35px;
  font-family: 'Prata', serif;
  color: whitesmoke;
  line-height: .75;
  text-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
}
.tile a:hover { color: rgb(253, 173, 0) }


/* ABOUT */
#about{
  width: 100%;
  padding: 50px 0px 40px 0px;
  padding-bottom: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(image/backlogo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.profile{
  width: 95vh;
  height: 95vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.profile h1{
  font-family: title;
  font-weight: bolder;
  padding:0px 0px 10px 0px;
  font-size: 30px;
  z-index: 1;
}
.profile h3 {
  padding-top: 10px;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;
}
.profile h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
.profile p {
  display: inline-block;
  padding: 10px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding-bottom: 50px;
}

.profile img{
  width: 230px;
  border-radius: 50%;
}

/* CONTACT */
.contact {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  background-image: url(image/10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.getintouch{
  width:50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(image/backlogo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.getintouch p{
  width: 250px;
  padding: 30px auto;
  margin: 30px auto;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.contact-form {
  width:50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Covered By Your Grace', cursive;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-form input {
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
  font-family: 'Covered By Your Grace', cursive;
  color: black;
  background-color: rgba(241, 228, 207, 0.87);
}

.contact-form label {
  font-family: 'Montserrat', sans-serif;
  height: 20px;
  font-weight: bold;
  font-size: 11px;
}

.contact-form textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 15px;
  font-family: 'Covered By Your Grace', cursive;
  background-color: rgba(255, 255, 255, 0.646);
  color: black;
}

.contact-form #submit {
  font-family: ;
  width: 80px;
  height: 60px;
  float: right;
  font-family: title;
  color: white;
  background-color: black;
}
.contact-form #submit:hover {
  width: 80px;
  height: 60px;
  background-color: rgba(253, 173, 0, 0.571);
  color: rgb(0, 0, 0);
}

/* GALLERY */

#gallery {
  top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  /* height: 100%; */
}


.gallery {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  margin: 25px 0px 100px 0px;
  padding: 0px 0px 50px 0px;
}
.gallery h1{
  text-align: center;
  margin: 50px 0 0px 0;
  font-size: 30px
}
.gallery p{
  margin-bottom: 20px;
  text-align: center;
  padding: 0 auto;
  font-family: 'Playfair Display', serif;
}


/*----- SLIDESHOW -----*/

.slideshow-container {
  object-fit: fill;
  max-width: 10000px;
  height: auto;
  display: block;
  position: relative;
  margin: 25px 0px 100px 0px;
  padding: 0px 0px 50px 0px;
}

.mySlides {
  object-fit: fill;
  display: none;
  height: 400px;
}

.mySlides img{
  width: auto;
  height: 400px;
}
/* .mySlides img:hover{
  filter: grayscale(100%);
} */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: rgb(253, 173, 0);
  font-weight: bold;
  font-size: 20px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0
}

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  color: rgba(17, 17, 16, 0.755);
  background-color: rgba(255, 211, 193, 0.748)
}

.text {
  color:  rgb(255, 211, 193);
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color:  rgba(17, 17, 16, 0.755);
  font-family: 'Covered By Your Grace', cursive;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}



/*GRIDDING PHOTO THUMBNAIL*/

.photo{
  float: left;
  width: 32.8%;
  height: 300px;
}

.gridphoto img{
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .2s;
}

.gridphoto img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
  filter: grayscale(0%);
  z-index: 100;
}
.gridphoto:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 50px;
}

/* FOOTER */
footer{
  width: 100%;
  padding: 20px 0px;
  background-color:  rgba(255, 211, 193, 0.748); 
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

footer p{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 15px
}

.quote{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.socialmedia{
  padding-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:  5px auto;
}

.socialmedia img{
  width: 30px;
  padding: 5px;
  display: inline-block;  
}
.copyright{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0px;
  font-size: 10px;
  text-align: center;
  font-style: italic;
}
/* label color */
.input-field label {
    color: rgb(217, 152, 0);
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: rgb(0, 0, 0) !important;
  }
  .input-field input[type=email]:focus + label {
    color: #000 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(217, 152, 0)  !important;
    box-shadow: 0 1px 0 rgb(217, 152, 0) !important;
  }
  .input-field input[type=email]:focus {
    border-bottom: 1px solid rgb(217, 152, 0)  !important;
    box-shadow: 0 1px 0 rgb(217, 152, 0) !important;
  }
   /* label color */
   .helper-text {
    color: red !important;
    background-color: white !important;
  }


button {
  margin-bottom: 15%;
  font-size: 10px;
  border: 1px solid #000000;
  padding: 5px;
  color: gold;
  background-color: #000000
}

.container-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-form input {
  text-align: center;
  border: 1px solid #000000;
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
  font-family: 'Covered By Your Grace', cursive;
  color: black;
  background-color: rgba(221, 151, 0, 0.945);
}

.container-form label {
  font-family: 'Montserrat', sans-serif;
  height: 20px;
  font-weight: bold;
  font-size: 11px;
}

.container-form textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 15px;
  font-family: 'Covered By Your Grace', cursive;
  background-color: rgba(255, 255, 255, 0.646);
  color: black;
}

.container-form #submit {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 12px;
  width: 80px;
  height: 20px;
  float: right;
  font-family: title;
  color: yellow;
  background-color: black;
}

.container-form #submit:hover {
  width: 80px;
  height: 20px;
  background-color: rgba(253, 173, 0, 0.571);
  color: rgb(0, 0, 0);
}

.list button {
  margin-top: 50%;
  margin-bottom: 15%;
  font-size: 10px;
  border: 1px solid #000000;
  padding: 5px;
  color: gold;
  background-color: #000000
}

.home button {
  margin-bottom: 15%;
  font-size: 10px;
  border: 1px solid #000000;
  padding: 5px;
  color: black;
  background-color: #d49434
}

table {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 70%;
    font-size: 12px
}
th {
    background-color: goldenrod;
}

td, th {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffffd2;
}